/** Box shadows do not work on compose ¯\_(ツ)_/¯ **/
button.active {
    box-shadow:
        inset -1px -1px #ffffff,
        inset 1px 1px #0a0a0a,
        inset -2px -2px #dfdfdf,
        inset 2px 2px #808080;
}

.higherContainer {
    box-shadow:
        inset -1px -1px #0a0a0a,
        inset 1px 1px #dfdfdf,
        inset -2px -2px grey,
        inset 2px 2px #fff;
}

.lowerContainer {
    box-shadow:
        inset -1px -1px #ffffff,
        inset 1px 1px #0a0a0a,
        inset -2px -2px #dfdfdf,
        inset 2px 2px #808080;
}
